/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Roboto:wght@400;500;700&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5fd;
  color: #101010;
  font-size: 62.5%;
  position: relative;
}

:root {
  --primary-color: #1d1e4c;
}

.container {
  /* height: 100%; */
  padding: 4vw 20vw;
  position: relative;
  border: 10px solid var(--primary-color);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.5vw;
}

img {
  height: 20vw;
  border-radius: 50%;
}

.header-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

header h1 {
  font-size: 5rem;
  font-weight: 900;
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
}

header p {
  font-size: 3rem;
  font-weight: 500;
}

/* main section */
main h1 {
  font-size: 7rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

span {
  font-size: 2.4rem;
  font-weight: 700;
}

main p {
  font-size: 2rem;
  text-align: justify;
  letter-spacing: 1.2px;
  line-height: 3rem;
  margin-top: 1.5vw;
  margin-bottom: 2.5vw;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin-bottom: 1.5vw;
}

ul {
  padding-left: 4vw;
}

li {
  font-size: 1.6rem;
  line-height: 3.4rem;
}

/* footer */
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4vw;
}

footer p {
  font-size: 1.4rem;
  margin-bottom: -1vw;
}

a {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 500;
}
