/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* font-family: 'Lato', sans-serif; */

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

/* main section */
.hero {
  height: 100%;
  background-image: url(./assets/image1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #313534;
  color: #fff;
  padding: 10px 20px;
}

.txt-section {
  text-align: center;
  padding: 60px 80px;
  color: #666666;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  line-height: 24px;
}

.img-section-1 {
  height: 500px;
  background-image: url(./assets/image2.png);
}

.dark {
  background-color: #313534;
  color: #ffffff;
}

.img-section-2 {
  height: 500px;
  background-image: url(./assets/image3.png);
}
