/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  position: relative;
  color: #101010;
}

button {
  font: inherit;
}

/* header */
header {
  height: 100svh;
  position: relative;
  font-size: 1.6rem;
}

/* navbar */
nav {
  height: 100px;
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px #1010101c;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 5;
}

.menue-icon {
  font-size: 3.6rem;
  font-weight: 700;
  cursor: pointer;
}

/* hero section */
.hero {
  height: calc(100svh - 100px);
  padding: 0 150px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container,
.right-container {
  width: 50%;
}

.label {
  display: inline-block;
  padding: 6px 12px;
  background-color: #149f39;
  color: #ffffff;
}

h1 {
  font-size: 7.2rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-txt {
  color: #313131;
  line-height: 2.4rem;
  margin-bottom: 40px;
}

.hero-btn {
  background-color: #ffc066;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.hero-btn:hover {
  background-color: #ffcb82;
}

/* cards section */
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
  padding: 50px 0;
  border-bottom: 3px solid #999999;
  font-size: 1.6rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 120px;
  width: 380px;
  padding: 12px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 5px 5px 5px #1010101c;
}

h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.card-txt p {
  color: #313131;
}

/* menu section */
.menu {
  padding: 100px 150px;
  font-size: 1.6rem;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
}

.col-span-2 {
  grid-column: span 2;
}

.row-span-2 {
  grid-row: span 2;
}

.img-box {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  background-color: #22222248;
  background-blend-mode: multiply;
  z-index: 2;
}

.img-box p {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.img-box:hover p {
  animation: txt-fade-in 0.4s ease-in-out forwards;
}

@keyframes txt-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* footer */
footer {
  padding: 40px 150px;
  font-size: 1.6rem;
  background-color: #fff0db;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-txt-container {
  display: flex;
  gap: 150px;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 15px !important;
  color: #949494 !important;
}

.footer-txt p {
  color: #313131;
  margin-bottom: 5px;
  cursor: pointer;
}

input {
  margin-bottom: 15px;
  padding: 4px 8px;
}

.footer-icons {
  display: flex;
  gap: 12px;
  font-size: 2.8rem;
  cursor: pointer;
}

/* media queries */
@media (max-width: 426px) {
  /* navbar */
  nav {
    height: 60px;
    padding: 0 20px;
  }

  .logo {
    height: 40px;
  }

  .menue-icon {
    font-size: 2.4rem;
  }

  /* hero section */
  .hero {
    margin-top: 80px;
    padding: 0 20px;
    flex-direction: column;
    gap: 40px;
  }

  .left-container {
    width: 100%;
    text-align: center;
  }

  .right-container,
  .left-container {
    width: 100%;
  }

  .hero-img {
    height: 300px;
  }

  h1 {
    font-size: 4.6rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .hero-txt {
    margin-bottom: 30px;
  }

  /* cards section */
  .cards {
    flex-direction: column;
    margin: 0px 20px;
    padding-bottom: 40px;
    gap: 20px;
  }

  .card {
    width: 350px;
  }

  /* menue section */
  .menu {
    padding: 80px 10px 60px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 5px;
  }

  .img-box {
    font-size: 1.6rem;
  }

  .img-box:hover {
    background-color: #22222278;
  }

  /* footer */
  footer {
    padding: 30px 20px;
    flex-direction: column;
  }

  .footer-txt-container {
    display: block;
  }

  .footer-heading {
    margin-top: 30px;
  }
}
