/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fbfbfb;
  color: #6b6b6b;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

pre,
h2 {
  color: #101010;
}

.container {
  display: grid;
  grid-template-columns: 15% 85%;
  position: relative;
}

/* aside styles */
aside {
  height: 100vh;
  color: #101010;
  border-right: 1px solid #8d8d8d;
  position: sticky;
  top: 0;
}

aside h1 {
  padding: 0.6vw 1vw;
  font-size: 1.8vw;
  font-weight: 700;
  border-bottom: 1px solid #8d8d8d;
}

aside ul {
  list-style: none;
}

aside ul li {
  padding: 0.6vw 1vw;
  font-size: 1.2vw;
  font-weight: 500;
  border-bottom: 1px solid #8d8d8d;
  line-height: 1.6vw;
}

aside ul li:hover {
  background-color: #cccccc;
}

/* main styles */
main {
  padding: 4vw;
}

.main-container {
  margin-top: 4vw;
}

main h2 {
  border-bottom: 1px solid #8d8d8d;
  margin-bottom: 2vw;
}

p {
  margin-bottom: 1.6vw;
  line-height: 24px;
  padding-left: 0.6vw;
}

main li {
  margin-bottom: 0.8vw;
  line-height: 24px;
}

main ul {
  padding-left: 3vw;
}

.code {
  background-color: #f2f2f2;
  padding-top: 1.2vw;
  margin-left: 0.6vw;
  margin-bottom: 20px;
  border-radius: 8px;
}

pre {
  font-size: 14px;
  margin-left: -4vw;
}
